<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>客户资料</title>
    <link href="../assets/css/admin.content.css" type="text/css" rel="stylesheet" />
    <link href="../assets/css/admin.global.css" type="text/css" rel="stylesheet" />
    <link href="../assets/libs/JGrid/theme/Jackson_skin_gray.css" type="text/css" rel="stylesheet" />
    <link href="../assets/libs/layer/skin/layer.css" rel="stylesheet" />
    <script src="../assets/seajs/sea.js" type="text/javascript"></script>
    <script src="../assets/seajs/config.js" type="text/javascript"></script>
    <style type="text/css">
        ul {
            list-style-type: none;
            padding: 0px;
        }

        li {
            line-height: 30px;
            padding: 5px;
            margin: 5px;
            border: 1px solid #ccc;
        }

            li img {
                width: 20%;
            }
    </style>
</head>
<body>
    <div>
        <ul>
            <li>
                <span>审核结果：</span>
                <select id="sltStatus">
                    <option value="1">审核通过</option>
                    <option value="-1">审核失败</option>
                </select>
            </li>
            <li>
                <span>备注说明：</span>
                <textarea id="txtRemark" style="height:80px;width:300px;"></textarea>
            </li>
            <li style="border:none;">
                <button type="submit" style="border:1px solid #ccc; width:100px;height:30px;cursor:pointer;" id="submitCheck">提交审核</button>
            </li>
        </ul>
    </div>
    <script>seajs.use(["CheckResult"]);</script>
</body>
</html>
