<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link  href="../assets/css/admin.content.css"  type="text/css" rel="stylesheet"/>
    <link  href="../assets/css/admin.global.css"  type="text/css" rel="stylesheet"/>
    <link  href="../assets/libs/JGrid/theme/Jackson_skin_gray.css"  type="text/css" rel="stylesheet"/>
    <link href="../assets/libs/layer/skin/layer.css" rel="stylesheet"/>
    <script src="../assets/seajs/sea.js"></script>
    <script src="../assets/seajs/config.js"></script>
</head>
<body>
<div class="block">
    <div class="h">
        <span class="icon-sprite icon-list"></span>
        <h3 style="float: left; width: 144px;">助力用户列表</h3>
        <div class="bar">
        </div>
    </div>
    <div class="cnt-wp" id="js-ModelList"></div>
</div>
<script>seajs.use(["JGrid", "helpList"]);</script>
</body>
</html>