        .bodyBG {
            min-width: 320px;
            max-width: 640px;
            margin: 0 auto;
        }

        .wsltime {
            color: #FF0033;
            padding: 0px 5px;
        }

        .wslbutton {
            font-size: 16px;
            text-align: center;
            background-color: #FF0033;
            height: 40px;
            color: #fff;
            width: 75%;
            margin: 0 auto;
            line-height: 37px;
            border-radius: 6px;
        }

        .wslbutton1 {
            margin: 0px 10px;
            font-size: 16px;
            text-align: center;
            background-color: #00b50d;
            color: #fff;
            height: 40px;
            width: 40%;
            float: left;
            line-height: 40px;
            border-radius: 6px;
        }

        .wslbutton2 {
            margin: 0px 10px;
            font-size: 16px;
            text-align: center;
            background: rgb(172, 214, 5);
            color: #fff;
            height: 40px;
            width: 40%;
            float: right;
            line-height: 40px;
            border-radius: 6px;
        }

        .wsltoptime {
            text-align: center;
            font-size: 16px;
            background-color: #3A3A3A;
            padding: 7px;
            color: #fff;
        }

            .wsltoptime span {
                padding: 5px;
            }

        .wslmoney {
            text-align: center;
            font-size: 24px;
        }

        .wslrule {
            background-color: #ddd;
            text-align: center;
            font-size: 20px;
            padding: 10px;
        }

        .money1 {
            color: #FF0033;
            font-size: 16px;
        }

        .money {
            color: #FF0033;
            font-weight: bold;
        }

        .rule {
            margin: 15px;
            line-height: 26px;
        }

        .wslbottom {
            text-align: center;
            color: #707070;
        }

        .bottomsolid {
            border-bottom: 1px solid #ddd;
        }

        .wslsolid {
            padding: 10px;
            border-top: 1px solid #ddd;
        }

        .tagClass {
            color: #FF0033;
        }

        .wslsolid1 {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
            font-size: 20px;
            margin: 10px;
        }

        #RuleInfoHelper img {
            width: 100%;
        }