<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>设置设备</title>
    <link href="../assets/css/admin.content.css" type="text/css" rel="stylesheet" />
    <link href="../assets/css/admin.global.css" type="text/css" rel="stylesheet" />
    <link href="../assets/libs/JGrid/theme/Jackson_skin_gray.css" type="text/css" rel="stylesheet" />
    <link href="../assets/libs/layer/skin/layer.css" rel="stylesheet" />
    <script src="../assets/seajs/sea.js" type="text/javascript"></script>
    <script src="../assets/seajs/config.js" type="text/javascript"></script>
</head>
<body>

    <!--<div class="block">-->
        <!--<div class="h">
            <span class="icon-sprite icon-list"></span>
            <h3 style="float: left; width: 144px;">设备列表</h3>
            <div class="bar">
            </div>
        </div>-->
        <div class="cnt-wp" id="js-ModelList"></div>
    <!--</div>-->
    <script>seajs.use(["JGrid", "setdevice"]);</script>

</body>
</html>
