@charset "utf-8";
/* CSS Document */
@import url('font-awesome.min.css');
html {
font-size: 62.5%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
body {
background: #353535;
font-family: "微软雅黑", Helvetica, sans-serif;
line-height: 21px;font-size: 14px;
color: #575757;
overflow: hidden;
}
html, body
{
margin: 0;
padding: 0
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section
{
margin: 0;
padding: 0
}
a:hover, a:focus {
color: #575757;
text-decoration: none;
}
a:active, a:hover {
outline: 0;
}
a {
background: 0 0;
color: #575757;
text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
display: block;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.leftpanel {
width: 240px;
position: absolute;
top: 0;
left: 0;
z-index: 100;
}
:before, :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.logopanel {
padding: 20px 10px 10px 10px;
}
img {
vertical-align: middle;
}
img {
border: 0;
}.leftpanelinner {
padding: 5px 15px;
/*height:450px;overflow-y:auto;*/
}.nav-bracket {
margin-bottom: 30px;
}
.nav {
margin-bottom: 0;
padding-left: 0;
list-style: none;
}
ul, ol {
margin-top: 0;
margin-bottom: 10px;
}.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
content: " ";
display: table;
}.nav-stacked>li {
float: none;
}
.nav-pills>li {
float: left;
}
.nav>li {
position: relative;
display: block;
}p {
margin-bottom: 10px;
}
p {
margin: 0 0 10px;
}a {
background: 0 0;text-decoration: none;
}.nav-bracket > li.nav-parent > a {
background: transparent url(../img/plus-white.png) no-repeat 96% center;
}.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
}
.nav-bracket > li > a {
color: #8f939e;
padding: 7px 10px;
}
.nav-pills > li > a {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}.nav-bracket li .fa, .nav-bracket li .glyphicon {
font-size: 16px;
vertical-align: middle;
margin-right: 10px;
width: 16px;
text-align: center;
}
.fa {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.nav-bracket .children {
list-style: none;
display: block;
margin: 5px 0;
padding: 0;
}
.nav-bracket .children.active {
    display: block;
}
.nav-bracket .children.hidden {
    display: none;
}
.nav-bracket .children > li.active > a {
color: #fff;
}
.nav-bracket .children > li > a {
color: #94989d;
font-size: 13px;
display: block;
/*padding: 5px 0 5px 27px;*/
padding: 3px 0 3px 27px;
-moz-transition: all 0.2s ease-out 0s;
-webkit-transition: all 0.2s ease-out 0s;
transition: all 0.2s ease-out 0s;
}.nav-bracket .children > li .fa {
font-size: 12px;
opacity: 0.5;
margin-right: 5px;
text-align: left;
width: auto;
vertical-align: baseline;
}
.nav-bracket > li.nav-parent.active > a {
background-image: url(../img/plus.png);
}
.nav-bracket > li.nav-active.active > a {
background-image: url(../img/minus.png);
} .nav-bracket > li.nav-parent > a {
background: transparent url(../img/plus-white.png) no-repeat 96% center;
}.mainpanel {
margin-left: 240px;
background: #e4e7ea;
/*min-height: 1000px;*/
}.headerbar {
border-left: 1px solid #eee;
background: #fff;
height: 48px;
}.header-left {
float: left;
}.headerbar .topnav {
float: left;
margin: 0;
}.headerbar .topnav > ul {
padding: 0;
margin: 0;
float: left;
}.headerbar .topnav > ul > li {
margin: 0;
float: left;
}.headerbar .topnav ul li a i {
margin-right: 10px;
}.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
vertical-align: middle;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
}.headerbar .topnav ul li .dropdown-menu {
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}.nav .dropdown-menu {
margin-top: -2px;
}.dropdown-menu {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 5px;
-moz-box-shadow: 3px 3px 0 rgba(12,12,12,0.03);
-webkit-box-shadow: 3px 3px 0 rgba(12,12,12,0.03);
box-shadow: 3px 3px 0 rgba(12,12,12,0.03);
}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
font-size: 14px;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
background-clip: padding-box;
}
.headerbar .topnav ul li .dropdown-menu i {
display:block ;
padding-right: 10px;
}
.dropdown-menu > li > a {
padding: 7px 10px;
color: #666;
}
.headerbar .topnav ul li .dropdown-menu > li > a {
padding: 6px 10px;
font-size: 14px;
}.dropdown-menu>li>a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: 400;
line-height: 1.428571429;
color: #333;
white-space: nowrap;
}.pageheader {
background: #f7f7f7;
border-bottom: 1px solid #d3d7db;
border-top: 1px solid #eee;
position: relative;
}.pageheader .breadcrumb-wrapper {
height: 30px;
line-height: 30px;
}.pageheader .breadcrumb-wrapper .label {
color: #999;
text-transform: uppercase;
font-size: 12px;
font-weight: normal;
display: inline-block;
}
.label {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 4px 8px;
font-weight: normal;
font-size: 11px;
}
.label {
display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}.pageheader .breadcrumb {
background: none;
display: inline-block;
padding: 0;
}
.breadcrumb {
padding: 8px 15px;
margin-bottom: 20px;
list-style: none;
background-color: #f5f5f5;
border-radius: 4px;
}.pageheader .breadcrumb li.active {
color: #333;
}
.pageheader .breadcrumb li {
font-size: 12px;
}
.breadcrumb>.active {
color: #999;
}
.breadcrumb>li {
display: inline-block;
}.contentpanel {
   padding: 20px;
   position: relative; background-color:#e4e7ea
}

.contentpanel::after {
	clear: both;
	display: block;
	content: '';
}
.headerbar .topnav ul li a:hover, .headerbar .topnav ul li a:focus, .headerbar .topnav ul li.open a, .headerbar .topnav ul li.active a {
color: #575757;
background: #f1f1f1;
moz-transition: all 0.5s ease-out 0s;
-webkit-transition: all 0.5s ease-out 0s;
transition: all 0.5s ease-out 0s;
}.headerbar .topnav ul li a {
moz-transition: all 0.8s ease-out 0s;
-webkit-transition: all 0.8s ease-out 0s;
transition: all 0.8s ease-out 0s;
}.headerbar .topnav > ul > li > a {
padding: 15px 15px 12px 15px;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
text-transform: uppercase;
font-size: 14px;
color: #575757;
font-family: "微软雅黑";
}
.headerbar .topnav > ul > li.active > a {
color: #1CAF9A;
background: none;
}.nav-stacked>li+li {
margin-top: 2px;
margin-left: 0;
}.dropdown-menu
{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 5px;
-moz-box-shadow: 3px 3px 0 rgba(12,12,12,0.03);
-webkit-box-shadow: 3px 3px 0 rgba(12,12,12,0.03);
box-shadow: 3px 3px 0 rgba(12,12,12,0.03);
}
.dropdown-menu li a
{
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-transition: all 0.2s ease-out 0s;
-webkit-transition: all 0.2s ease-out 0s;
transition: all 0.2s ease-out 0s;
}
.dropdown-menu > li > a
{
padding: 7px 10px;
color: #666;
}
.dropdown-menu > li > a:hover
{
background-color: #e7e7e7;
color: #333;
}.label {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 4px 8px;
font-weight: normal;
font-size: 11px;
}.nav-stacked>li {
float: none;
}.headerbar .topnav ul li .dropdown-menu li a:hover {
background: #575757;
color: #fff;
}
.headerbar .topnav ul li .dropdown-menu > li > a {
padding: 6px 10px;
font-size: 14px;
}.nav-bracket > li.nav-parent > a:hover, .nav-bracket > li.nav-parent > a:active {
color: #1d2939;
background-color: #f1f1f1;
background-image: url(../img/plus.png);
}
.nav-bracket > li.nav-parent > a {
background: transparent url(../img/plus-white.png) no-repeat 96% center;
}.nav-bracket .children > li > a:hover, .nav-bracket .children > li > a:active, .nav-bracket .children > li > a:focus {
text-decoration: none;
color: #fff;
}
.nav-bracket > li.active > a, .nav-bracket > li.active > a:hover, .nav-bracket > li.active > a:focus {
background-color:#616161;
color: #fff;
}

::-webkit-scrollbar-track-piece {
 background-color: #f5f5f5;
 border-left: 1px solid #d2d2d2;
}

::-webkit-scrollbar {
 width: 6px;
 height: 13px;
}

::-webkit-scrollbar-thumb {
 background-color: #c2c2c2;
 background-clip: padding-box;
 border: 1px solid #979797;
 min-height: 28px;
}

    ::-webkit-scrollbar-thumb:hover {
 border: 1px solid #636363;
 background-color: #929292;
}   
         
.pull-right { float: right }
.pull-left { float: left }
.fa.pull-left { margin-right: .3em }
.fa.pull-right { margin-left: .3em }

.nav-bracket .children > li .fa.pull-right{ opacity:1.0}
.badge {
display: inline-block;
min-width: 10px;
padding: 2px 5px;
font-size: 14px;
 
color: #fff;
line-height: 1;
vertical-align: baseline;
white-space: nowrap;
text-align: center;
background-color: #999;
border-radius: 10px;  
}.badge {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
 
 
vertical-align: middle;
display: inline-block;
}.badge-success {
background-color:#04B299;
}
